/* HEADER */

header {
  background-color: rgb(91, 171, 84);
  display: flex;
  flex-direction: column;
  a {
    color: white;
  }
  .navSuperior {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    .logo {
      transition: all 0.25s;
      &:hover {
        transform: scale(0.95);
      }
      a {
        display: flex;
        align-items: center;
        margin: 20px 0;
        &:hover {
          color: white;
        }
      }
      img {
        height: 75px;
        border-radius: 50%;
      }
      h1 {
        display: none;
        margin-left: 5px !important;
        font-weight: 600;
      }
    }
    .buscador {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: 9rem;
        padding-left: 7px;
        line-height: 25px;
        background: white;
        color: rgb(99, 173, 88);
        border: none;
        border-radius: 18px;
        margin-right: 5px;
        &:hover {
          background: rgb(226, 226, 226);
        }
        &:focus {
          background: rgb(90, 90, 90);
          color: white;
          outline: none;
        }
      }
      a {
        transition: all 0.25s;
        &:hover {
          color: rgb(226, 226, 226);
          transform: scale(0.95);
        }
        &:active {
          color: rgb(27, 27, 27);
        }
      }
    }
    .menuHamburguesa {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      color: white;
      &:active {
        color: rgb(27, 27, 27);
      }
    }
    input#menu {
      display: none;
      &:checked ~ .seccionesContainer {
        display: block;
      }
    }
    .seccionesContainer {
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background-color: rgb(91, 171, 84);
      .secciones {
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        .cerrarMenu {
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 20px;
          color: rgb(27, 27, 27);
          &:active {
            color: rgb(230, 230, 230);
          }
        }
        li {
          display: flex;
          font-size: 24px;
          margin: 5px 0;
          padding: 0 8px;
          background-color: rgb(163, 224, 174);
          border-radius: 15px;
          &:active {
            background-color: rgb(48, 48, 48);
          }
          a {
            color: rgb(48, 48, 48);
            &:active {
              color: rgb(230, 230, 230);
            }
          }
        }
        #seccionCarrito {
          padding: 9px;
          border-radius: 50%;
        }
      }
    }
  }
  .navInferior {
    display: flex;
    padding: 5px;
    border-top: 3px solid rgb(73, 73, 73);
    border-bottom: 3px solid rgb(73, 73, 73);
    .btn {
      color: white !important;
      border: 1px solid rgb(73, 73, 73) !important;
    }
    .dropdown-item:active {
      background-color: rgb(163, 224, 174) !important;
    }
  }
  .categoriasContainer {
    display: none;
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-rows: auto auto 220px;
  }

  .navSuperior {
    .logo {
      img {
        height: 100px !important;
      }
      h1 {
        display: flex !important;
        font-size: 30px !important;
        margin-left: 5px;
      }
    }
    .buscador {
      input {
        min-width: 200px;
        line-height: 28px !important;
        font-size: 15px;
      }
    }
    .menuHamburguesa {
      margin-right: 8px;
    }
  }

  .navInferior {
    padding: 0;
    .dropdown {
      display: none;
    }
    .categoriasContainer {
      display: block;
      .categorias {
        display: flex;
        width: calc(100vw - 30px);
        justify-content: space-evenly;
        li {
          display: flex;
          font-size: 16px;
          font-weight: 600;
          margin: 10px 15px;
          color: white;
          a {
            transition: all 0.25s;
            &:hover {
              color: rgb(226, 226, 226);
              transform: scale(0.95);
            }
            &:active {
              color: rgb(27, 27, 27);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {

  .navSuperior {
    .buscador {
      input {
        min-width: 280px;
      }
    }
    .menuHamburguesa {
      display: none !important;
    }
    .seccionesContainer {
      display: flex !important;
      position: inherit !important;
      width: auto !important;
      height: auto !important;
      align-items: center;
      .secciones {
        flex-direction: row !important;
        justify-content: space-evenly;
        align-items: center !important;
        width: 100%;
        .cerrarMenu {
          display: none;
        }
        li {
          background-color: transparent !important;
          padding: 0 !important;
          margin: 0 5px !important;
          &:active {
            background-color: transparent;
          }
          a {
            padding: 4px 8px;
            color: white !important;
            transition: all 0.25s;
            &:hover {
              background-color: rgb(121, 170, 117);
              border-radius: 15px;
              transform: scale(0.95);
            }
            &:active {
              color: rgb(27, 27, 27) !important;
            }
          }
          &:last-child {
            padding: 9px 4px !important;
            border-radius: 0 !important;
            transition: all 0.25s;
            &:hover {
              background-color: rgb(121, 170, 117);
              border-radius: 50% !important;
            }
          }
        }
      }
    }
  }

  .categorias li {
    font-size: 18px !important;
  }

}
/* END MEDIA QUERIES */

/* END HEADER */
