/* MAIN */

.division {
    background: linear-gradient(rgb(87, 214, 110), rgb(163, 224, 174));
    height: 40px;
    margin-bottom: 20px;
}

.productos {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: wrap;
    article {
        display: flex;
        flex-direction: column;
        margin: 0 10px 20px;
        border: 3px solid rgb(73, 73, 73);
        border-radius: 5px;
        transition: all 0.25s;
        &:hover {
            transform: scale(0.95);
            cursor: pointer;
        }
    }
    img {
        border-bottom: 3px solid rgb(73, 73, 73);
        height: 190px;
    }
    h4 {
        text-align: center;
        font-size: 15px;
        margin-top: 5px !important;
        font-weight: 600;
    }
    h6 {
        text-align: center;
        font-size: 12px;
        margin-bottom: 5px !important;
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    
    .productos {
        img{
        height: 220px;
        }
        h4 {
            font-size: 18px;
        }
        h6 {
            font-size: 15px;
        }
    }

}

@media screen and (min-width: 1100px) {

    .productos {
        img {
        height: 300px;
        }
        h4 {
            font-size: 22px;
        }
        h6 {
            font-size: 18px;
        }
    }

}

/* END MEDIA QUERIES */

/* END MAIN */